@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@theme {
  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.5rem;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 3.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1.1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --radius-4xl: 2rem;

  --font-sans: var(--font-inter);
  --font-display: var(--font-lexend);

  --container-2xl: 80rem;

  /* 自定义靛蓝色为 #05f */
  --color-indigo-50: #f0f9ff;
  --color-indigo-100: #e0f2fe;
  --color-indigo-200: #bae6fd;
  --color-indigo-300: #7dd3fc;
  --color-indigo-400: #38bdf8;
  --color-indigo-500: #0055ff;
  --color-indigo-600: #0055ff;
  --color-indigo-700: #0043cc;
  --color-indigo-800: #003399;
  --color-indigo-900: #002266;
}

/* 隐藏滚动条样式 */
.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  /* Safari and Chrome */
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
